# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** this course can help in understanding all the necessary tools required for data science course so that the learner can familiarize with the tools before working on them 

# Item covered in this note book
- List popular languages for Data Science
- Common libraries used in data science
- Data Science tools

# Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Julia
5. java

# Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. SciPy
3. Pandas
4. SciKit-Learn

# Data Science Tools
| Data Science Tools |
|--------------------|
|    R Studio        |
| Apache Spark       |
|Tensor Flow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
   Shashank Sinha